<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form class="form-signin" method="post" action="/auth/login">
    <h1 class="form-signin-heading">Login</h1>
<p>
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" >
</p>
<p>
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" >
</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>

</body>
</html>